{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% set customFields = page.product.customFields %}

{% block page_product_detail_buy_form_inner_csrf %}
    {% if customFields.personal_product_customizable %}
        <div data-image-changer="true"
             data-image-changer-options='{"fetchRoute": "{{ path('frontend.personal-product.get-image', {id: page.product.id}) }}"}'>
            <input type="text"
                   name="{{ constant('SwagPersonalProduct\\Controller\\PersonalProductController::PERSONAL_PRODUCT_REQUEST_IMAGE_URL_PARAMETER') }}"
                   value=""
                   placeholder="Image url for customization..."
                   class="form-control personal-product-input">
            <input type="button"
                   class="personal-product-button-render btn btn-primary"
                   value="Render">
            <input type="button"
                   class="personal-product-button-fetch btn btn-secondary btn-block"
                   value="Fetch new picture">
        </div>

        {{ sw_csrf('frontend.checkout.personal-product.add') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_form_action %}
    {% if customFields.personal_product_customizable %}
        {{ path('frontend.checkout.personal-product.add') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
